*.csv
**Zone.Identifier
/*Zone.Identifier
/*/*Zone.Identifier
/*/*/*Zone.Identifier
/*/*/*/*Zone.Identifier

SCALEDepleter/__pycache__/
SCALEDepleter/tmp/
SCALEDepleter/tmp_*/
SCALEDepleter/*.pkl
SCALEDepleter/*.out
SCALEDepleter/*.msg
SCALEDepleter/*.f33
SCALEDepleter/*.f71
SCALEDepleter/OrigenResults_F71dir/
SCALEDepleter/MonteCarloResults_F33/
SCALEDepleter/obiwantesting/
SCALEDepleter/tmp_interpolated/
SCALEDepleter/tmp_origen_*/
SCALEDepleter/*.tempdir.path
SCALEDepleter/blended_CELI_tmp/
SCALEDepleter/testing/
SCALEDepleter/jonathons_pc_machine_file
SCALEDepleter/tmpdir

SCALEDepleter/*.htmd
SCALEDepleter/*.vscode
SCALEDepleter/*.out
SCALEDepleter/*.msg
SCALEDepleter/*.3dmap
SCALEDepleter/*.volumes
SCALEDepleter/*.inp

SCALEDepleter/*/*.htmd
SCALEDepleter/*/*.vscode
SCALEDepleter/*/*.out
SCALEDepleter/*/*.msg
SCALEDepleter/*/*.3dmap
SCALEDepleter/*/*.volumes
SCALEDepleter/*/*.inp

SCALEDepleter/f33_interp.log
SCALEDepleter/depletion_python_scripts/__pycache__/

SCALEDepleter.egg*
build/


!SCALEDepleter/*/triton_base.inp
!SCALEDepleter/triton_base.inp
!SCALEDepleter/baseOrigenFile.inp
!SCALEDepleter/blenderBase.inp
!SCALEDepleter/origen_base_files/*

SCALEParser/*/
SCALEParser/__pycache__/
.gitkey
